* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::selection {
    color: #fff;
    background: #374151;
}

::-webkit-scrollbar {
    width: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #E6E6E6;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background: rgba(182, 181, 181, 0.075);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    text-transform: capitalize;
    z-index: 1;
}

nav h2 {
    font-size: 25px;
    font-weight: 500;
}

nav a{
    text-decoration: none;
    color: #000;
}

nav i {
    font-size: 30px;
    cursor: pointer;
}

/* for aside navbar */
aside {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #374151e8;
    color: #fff;
    backdrop-filter: blur(5px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transform: translateY(-100%);
    transition: all ease .5s;
}

#close {
    position: absolute;
    top: 0px;
    right: 90px;
    font-size: 60px;
    cursor: pointer;
}

aside h1 {
    font-size: 60px;
    font-weight: 800;
}

aside a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
}

/* about home page start */

#about-home {
    height: 100vh;
    width: 100%;
    display: flex;
}

#abt-hm-lft {
    height: 100%;
    width: 60%;
    align-content: center;
    padding-left: 200px;
}

#abt-hm-lft h1 {
    font-size: 100px;
    font-weight: 900;
    color: #000;
}

#abt-hm-lft p {
    font-size: 22px;
    margin: 30px 0;
    line-height: 30px;
    color: #6B7280;
}


#abt-hm-lft button {
    padding: 15px 25px;
    border: 2px solid #374151;
    border-radius: 20px;
    background: #374151;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.4s;
}

#abt-hm-lft button:hover {
    background: none;
    color: #374151;
    transition: all ease 0.4s;
}

#abt-hm-rgt {
    height: 100%;
    width: 40%;
    display: flex;
}

#rect1 {
    margin-top: 80px;
    height: calc(100% - 100px);
    width: 100%;
    background: url('./assets/pp.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);
    transition: all ease 0.4s;
}

#abt-hm-rgt:hover #rect1 {
    filter: grayscale(0);
    transition: all ease 0.4s;
}

/* about me section */

#about-me {
    height: 100vh;
    width: 100%;
    display: flex;
}

#me-left {
    height: 100%;
    width: 40%;
    position: relative;
}

#me-left h1 {
    padding: 10px 0;
    padding-left: 20%;
    font-size: 37px;
    font-weight: 700;
    color: #000;
    text-decoration-line: underline;
    text-decoration-color: #374151;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

#box1 {
    height: 350px;
    width: 300px;
    background: url('./assets/me.jpg');
    background-size: cover;
    background-position: right;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-25%, -30%);
}

#box2 {
    height: 170px;
    width: 170px;
    background: url('./assets/pp.jpg');
    background-size: cover;
    position: absolute;
    top: 30%;
    left: 65%;
    transform: translate(-15%, -30%);
}

#box3 {
    height: 200px;
    width: 250px;
    background: url('./assets/anit.jpg');
    background-size: cover;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-15%, -30%);
}

.box {
    filter: grayscale(70%);
    transition: all ease 0.4s;
}

.box:hover {
    scale: 1.2;
    filter: grayscale(0);
    transition: all ease 0.4s;
}

#me-right {
    height: 100%;
    width: 60%;
    padding: 0 130px;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    color: #6B7280;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2px;
}

#me-right h1 {
    font-size: 30px;
    font-weight: 900;
    color: #374151;
}

#me-right span {
    color: #000;
}