* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::selection {
    color: #fff;
    background: #374151;
}

::-webkit-scrollbar {
    width: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #E6E6E6;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background: rgba(182, 181, 181, 0.075);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    text-transform: capitalize;
    z-index: 1;
}

nav h2 {
    font-size: 25px;
    font-weight: 500;
}

nav i {
    font-size: 30px;
    cursor: pointer;
}

/* for aside navbar */
aside {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #374151e8;
    color: #fff;
    backdrop-filter: blur(5px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transform: translateY(-100%);
    transition: all ease .5s;
}

#close {
    position: absolute;
    top: 0px;
    right: 90px;
    font-size: 60px;
    cursor: pointer;
}

aside h1 {
    font-size: 60px;
    font-weight: 800;
}

aside a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
}


/* for sidebar  */
#sidebar{
    position: fixed;
    top:25%;
    left: 1%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 999;
    transform: translateX(-150%);
    transition: all ease 0.4s;
}

#sidebar a{
    text-decoration: none;
}

#sidebar i{
    padding: 15px 15px;
    border: 2px solid #374151;
    border-radius: 50%;
    background: #374151;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: all ease 0.4s;
}

#sidebar i:hover{
    background: #fff;
    color: #374151;
    transition: all ease 0.4s;
}

#sidebar-opn{
    position: fixed;
    top: 75%;
    left: 1.7%;
    display: flex;
    padding:10px 10px;
    border-radius: 50%;
    border: 2px solid #374151;  
    background: rgba(163, 163, 163, 0.164);
    backdrop-filter: blur(5px);
    cursor: pointer;
    z-index: 999;
}

#sidebar-opn i{
    color: green;
    font-size: 20px;
    transition: all ease 0.4s;
}

/* sidebar ends */

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
}

#page1-left {
    height: 100vh;
    width: 65%;
    /* background: #e4c5c5; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 150px;
}

#page1-left h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #6B7280;
}

#page1-left h1 {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 40px;
}

#page1-left p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 30px;
    color: #6B7280;
}

#btn {
    margin-top: 30px;
}

#btn button {
    padding: 15px 30px;
    margin-right: 20px;
    border-radius: 20px;
    border: 2px solid #374151;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.4s;
}

/* #btn button a {
    text-decoration: none;
    color: #374151;
} */

#btn button:nth-child(1) {
    background: #374151;
    color: #fff;
}

#btn button:nth-child(1):hover {
    background: none;
    color: #374151;
    transition: all ease 0.4s;
}

#btn button:nth-child(2):hover {
    background: #374151;
    color: #fff;
    transition: all ease 0.4s;
}

#page1-right {
    height: 100vh;
    width: 35%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#profile {
    height: 340px;
    width: 270px;
    background: url('./assets/anit.jpg');
    background-size: cover;
    border-radius: 40%;
    filter: grayscale(70%);
    transition: all ease 0.4s;
}

#profile:hover {
    filter: grayscale(0);
    transition: all ease 0.4s;
}

#page2 {
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
}

#page2-left {
    height: 100%;
    width: 60%;
    align-content: center;
    padding: 0 100px;
    padding-left: 150px;
}

#page2-left h1 {
    font-size: 80px;
    font-weight: 900;
    color: #000;
}

#page2-left p {
    font-size: 20px;
    margin: 30px 0;
    line-height: 30px;
    color: #6B7280;
}


#page2-left button {
    padding: 15px 25px;
    border: 2px solid #374151;
    border-radius: 20px;
    background: #374151;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.4s;
}

#page2-left button:hover {
    background: none;
    color: #374151;
    transition: all ease 0.4s;
}

#page2-right {
    height: 100%;
    width: 40%;
    display: flex;
}

/* #rect1 {
    height: calc(100% - 100px);
    width: 410px;
    background: url('./assets/pp.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);
    transition: all ease 0.4s;
}

#page2-right:hover #rect1 {
    filter: grayscale(0);
    transition: all ease 0.4s;
} */

#rect1 {
    height: calc(100% - 100px);
    width: 410px;
}

#rect1 iframe{
    height: 100%;
    width: 100%;
}

#page3 {
    height: 100vh;
    width: 100%;
    display: flex;
}

#page3-left {
    height: 100%;
    width: 60%;
    align-content: center;
    padding: 0 100px;
    padding-left: 150px;
}

#page3-left h1 {
    font-size: 80px;
    font-weight: 900;
    color: #000;
}

#page3-left p {
    font-size: 20px;
    margin: 30px 0;
    line-height: 30px;
    color: #6B7280;
}


#page3-left button {
    padding: 15px 25px;
    border: 2px solid #374151;
    border-radius: 20px;
    background: #374151;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.4s;
}

#page3-left button:hover {
    background: none;
    color: #374151;
    transition: all ease 0.4s;
}

#page3-right {
    height: 100%;
    width: 40%;
    display: flex;
}

#rect2 {
    height: calc(100% - 100px);
    width: 410px;
    background: url('./assets/prj.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);
    transition: all ease 0.4s;
}

#page3-right:hover #rect2 {
    filter: grayscale(0);
    transition: all ease 0.4s;
}

#page4 {
    height: 100vh;
    width: 100%;
    display: flex;
}

#page4-left {
    height: 100%;
    width: 60%;
    align-content: center;
    padding: 0 100px;
    padding-left: 150px;
    transition: all ease 0.4s;
}

#page4-left i:hover {
    opacity: 0.7;
    transition: all ease 0.4s;
}

#page4-left h1 {
    font-size: 80px;
    font-weight: 900;
    color: #000;
}

#page4-left p {
    font-size: 20px;
    margin: 30px 0;
    line-height: 30px;
    color: #6B7280;
}

#page4-left a {
    text-decoration: none;
}

#page4-left i {
    margin: 0 6px;
    font-size: 30px;
    padding: 15px 15px;
    border: 2px solid #374151;
    border-radius: 50%;
    background: #374151;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all ease 0.4s;
}

#page4-right {
    height: 100%;
    width: 40%;
    display: flex;
}
/* 
#rect3 {
    height: calc(100% - 100px);
    width: 410px;
    background: url('./assets/cnt.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);
    transition: all ease 0.4s;
} */

/* #page4-right:hover #rect3 {
    filter: grayscale(0);
    transition: all ease 0.4s;
} */

#rect3 {
    height: calc(100% - 100px);
    width: 410px;
}

#rect3 iframe{
    height: 100%;
    width: 100%;
}




/* Responsive for mobile view */
@media screen and (max-width: 768px) {
    nav {
        padding: 10px 30px;
    }

    #page1,
    #page2,
    #page3,
    #page4 {
        flex-direction: column;
    }

    #page1-left {
        width: 100%;
        height: 100%;
        padding: 15px 30px;
    }

    #page1-right {
        display: none;
    }

    #btn {
        display: flex;
    }

    #btn button {
        padding: 10px 15px;
    }

    #page2-left,
    #page3-left,
    #page4-left {
        width: 100%;
        height: 50%;
        padding: 0 30px;
    }

    #page2-left h1,
    #page3-left h1,
    #page4-left h1 {
        font-size: 50px;
    }

    #page2-right,
    #page3-right,
    #page4-right {
        width: 100%;
        height: 50%;
        padding: 0 30px;
    }

    #rect1,
    #rect2,
    #rect3 {
        height: 100%;
        width: 100%;
    }


    #close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #page2,
    #page3,
    #page4 {
        position: relative;
    }

    #page2-right,
    #page3-right,
    #page4-right {
        position: absolute;
        top: 6%;
    }

    #page2-left,
    #page3-left,
    #page4-left {
        position: absolute;
        bottom: 0;
    }
}